* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  background-image: url("images/bg-pattern.svg");
  background-repeat: no-repeat;
}
:root {
  --main-color: hsl(227, 35%, 25%);
}
.container {
  max-width: 1400px;
}
header {
  margin-top: 70px;
  padding: 50px 0;
  text-align: center;
  background-image: url("images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}
header h1 {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 15px;
}
header p {
  color: hsl(225, 20%, 60%);
  font-size: 15px;
}
aside {
  background-color: hsl(0, 0%, 100%);
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsl(227, 25%, 85%);
  font-size: 15px;
  color: hsl(225, 20%, 60%);
  min-width: 500px;
  margin-top: 15px;
}
.tarrif {
  display: flex;
  margin-bottom: 50px;
}
.tarrif .page-views {
  text-transform: uppercase;
  flex: 1;
  align-self: center;
}
.tarrif .price {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s;
}
.tarrif .price span {
  display: inline-block;
}
.tarrif .price span:first-of-type,
.tarrif .price span:first-of-type span {
  color: var(--main-color);
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
}
.tarrif .price span:last-of-type {
  font-size: 15px;
  align-self: center;
  margin-left: 5px;
}
.progress .progress-bar {
  position: relative;
  height: 20px;
}
.progress-bar input[type="range"] {
  width: 100%;
}
.myrange {
  appearance: none;
  background-color: hsl(174, 77%, 80%);
  height: 10px;
  border-radius: 5px;
  outline: none;
}
.myrange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: hsl(174, 86%, 45%);
  border-radius: 50%;
  cursor: pointer;
}
.myrange::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 10px hsl(174, 86%, 45%);
}
.progress .monthly {
  text-align: right;
  margin-top: 30px;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
}
.progress .monthly .discount {
  padding: 3px 5px;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border-radius: 5px;
}
.progress .monthly span,
label {
  margin-left: 10px;
}
.progress .switch {
  position: relative;
  height: 20px;
  width: 40px;
  display: inline-block;
  border-radius: 20px;
  background-color: hsl(174, 77%, 80%);
  cursor: pointer;
}
.progress .switch input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.progress .switch .slider {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 2px;
  left: -7px;
  transition: all 0.5s;
}
.progress .switch input:checked + .slider {
  transform: translateX(18px);
}

/* Hr line */
hr {
  border: 1px solid hsl(0, 0%, 98%);
  margin: 30px 0;
}
.start {
  display: flex;
  justify-content: space-between;
}
.start ul {
  list-style-image: url("images/icon-check.svg");
  margin-left: 20px;
  line-height: 25px;
}
.start button {
  background-color: var(--main-color);
  color: white;
  border: none;
  width: 180px;
  height: 45px;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
  align-self: center;
  font-size: 15px;
}

@media (max-width: 600px) {
  .container {
    min-width: 375px;
  }
  header {
    margin-top: 70px;
  }
  aside {
    min-width: 375px;
    padding: 50px 30px;
    margin-bottom: 50px;
  }
  .tarrif .price span {
    display: inline-block;
  }
  .tarrif .price span:first-of-type,
  .tarrif .price span:first-of-type span {
    color: var(--main-color);
    font-size: 30px;
    line-height: 30px;
  }
  .start {
    flex-direction: column;
  }
  .start ul {
    align-self: center;
  }
  .start button {
    margin-top: 30px;
  }
}
